<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>新規登録</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!-- formタグ無いに下記の記述をすることで、UserFormの登録処理を呼び出せる(httpメソッドで) -->
<!-- th:actionで、データの送信先を指定する -->
<!-- リンクURL式の記述 => @{xxx} -->
<form th:object="${userForm}" th:action="@{newuser}" th:method="post">
  <table>
    <tr>
      <th>名前</th>
      <td>
        <!-- UserForm.javaのフィールドと紐付ける -->
        <!-- thはthymeleaf独自の属性 -->
        <input type="text" th:field="*{name}">
      </td>
    </tr>
    <tr>
      <th>Email</th>
      <td>
        <input type="text" th:field ="*{email}">
      </td>
    </tr>
  </table>
  <input type="submit" value="登録">
</form>

<a th:href="@{/users}">toユーザ一覧</a>
</body>
</html>