<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>新規登録</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!-- formタグ無いに下記の記述をすることで、UserFormの登録処理を呼び出せる(httpメソッドで) -->
<!-- th:actionで、データの送信先を指定する -->
<!-- リンクURL式の記述 => @{xxx} -->
<form th:object="${userForm}" th:action="@{newuser}" th:method="post">
  <table>
    <tr>
      <th>名前</th>
      <td>
        <!-- thymeleafのth:タグを使って、UserForm.javaのフィールドと紐付ける -->
        <input type="text" th:field="*{name}">

        <!-- バリデーションによるエラー表示 -->
        <!-- #fielsの中居にバリデーションのエラー情報が入っている -->
        <!-- hasErrors('フィールド名') => 指定したフィールドにエラーがある場合はtrueを返す -->
        <!-- th:errors="*{yyy}" => yyy フィールドのエラーを指定したhtmlタグ内に展開する -->
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
      </td>
    </tr>
    <tr>
      <th>Email</th>
      <td>
        <input type="text" th:field ="*{email}">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
      </td>
    </tr>
  </table>
  <input type="submit" value="登録">
</form>

<a th:href="@{/users}">toユーザ一覧</a>
</body>
</html>